@use '@angular/material' as mat;
@use '../palettes/xmas' as xmas;
@use '../palettes/halloween' as halloween;

.xmas {
  @include mat.theme((
    color: (
      primary: xmas.$primary-palette,
      tertiary: xmas.$tertiary-palette,
    )
  ));
}

.halloween {
  @include mat.theme((
    color: (
      primary: halloween.$primary-palette,
      tertiary: halloween.$tertiary-palette,
    )
  ));
}
