/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'app/styles/themes/seasons';
@use 'app/styles/themes/festivities';

html, body {
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  width: 100vw;
}

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}

.dark-mode {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



*, ::after, ::before {
  box-sizing: border-box;
  max-height: 100%;
}
